@import 'reset.css'
@import '../flexgrid'

html
  padding: 30px

section
  box(1/3, $flex: flex)
  &:nth-of-type(2), &:nth-of-type(3)
    box(1/3, $flex: masonry)
  > *
    > img
      background: tomato
      margin-bottom: 30px
      padding: 15px

figure
  background: tomato
  margin-bottom: 30px
  padding: 15px
  img
    width: 100%
