@import 'reset.css'
@import '../flexgrid'


section
  height: 50%
  width: 50%
  margin: auto
  padding-bottom: 30px
  &:nth-of-type(1)
    box(1/3)
    padding-top: 30px
    figure
      background: tomato
      &:nth-child(1)
        flex()
  &:nth-of-type(2)
    box(1/3, column)
    figure
      background: dodgerblue
      &:nth-child(2)
        flex(column)
