@import 'reset/reset.css';
html,
body {
  height: 100%;
}
html {
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 14px;
  line-height: 1.25em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 14px + (16 - 14) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.25em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 100;
  color: #111;
  clear: both;
}
h1 {
  font-size: 32.496788277730715px;
  margin-top: 0;
  line-height: 1.1em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 32.496788277730715px + (37.13918660312082 - 32.496788277730715) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 37.13918660312082px;
  }
}
h2 {
  font-size: 27.45983731003926px;
  margin-top: 0;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 27.45983731003926px + (31.38267121147344 - 27.45983731003926) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 31.38267121147344px;
  }
}
h3 {
  font-size: 23.20360580404041px;
  margin-top: 0;
  line-height: 1.3em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 23.20360580404041px + (26.51840663318904 - 23.20360580404041) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 26.51840663318904px;
  }
}
h4 {
  font-size: 19.6070834735957px;
  margin-top: 0;
  line-height: 1.4em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 19.6070834735957px + (22.408095398395087 - 19.6070834735957) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h4 {
    font-size: 22.408095398395087px;
  }
}
h5 {
  font-size: 16.568016436204424px;
  margin-top: 0;
  line-height: 1.5em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 16.568016436204424px + (18.93487592709077 - 16.568016436204424) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h5 {
    font-size: 18.93487592709077px;
  }
}
h6 {
  font-size: 14px;
  margin-top: 0;
  line-height: 1.6em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 14px + (16 - 14) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h6 {
    font-size: 16px;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.625em;
  margin-bottom: 1.25em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0625em 0.1875em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.625em 1.25em 1.25em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.328125em;
}
@media (min-width: 1000px) {
  fieldset {
    margin-bottom: 1.46484375em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.15625em;
  margin-bottom: -0.1171875em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.3125em;
  font-size: 14px;
  margin-bottom: 0.8984375em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 14px + (16 - 14) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 16px;
    margin-bottom: 0.380859375em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 0.3125em 1.25em;
  margin-bottom: 0.8203125em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 14px + (16 - 14) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  input[type="submit"],
  button {
    font-size: 16px;
    margin-bottom: 0.9375em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 1.640625em;
}
@media (min-width: 1000px) {
  table {
    margin-bottom: 1.5234375em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.15625em 0.625em;
}
@media (min-width: 1000px) {
  th {
    padding: 0.3125em 0.625em;
  }
}
td {
  padding: 0.15625em 0.625em;
}
@media (min-width: 1000px) {
  td {
    padding: 0.3125em 0.625em;
  }
}
h3 {
  line-height: 1.1em;
  color: #fff;
}
html {
  overflow-y: hidden;
}
body {
  padding: 60px 15px 0;
}
.masthead {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  overflow-y: inherit;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 980px;
  margin: auto;
  text-align: center;
}
.masthead div {
  -webkit-flex-basis: calc(100% * 0.333333333333333 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 30px);
          flex-basis: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 30px;
  background: #1e90ff;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.masthead div:first-child {
  background: none;
}
.masthead div p {
  color: #00488f;
}
.masthead div p:last-of-type {
  margin-bottom: 0;
}
.github img {
  height: 45px;
}
@media only screen and (max-width: 600px) {
  .logo,
  .github {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
}
.grid {
  padding: 30px 0;
}
.grid div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  overflow-y: inherit;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 980px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .grid div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: hidden;
    overflow-y: inherit;
    padding: 0 15px;
  }
}
.grid div:nth-of-type(1) figure {
  -webkit-flex-basis: calc(100% * 0.083333333333333 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.083333333333333 - 30px);
          flex-basis: calc(100% * 0.083333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(1) figure {
    -webkit-flex-basis: calc(100% * 0.083333333333333);
        -ms-flex-preferred-size: calc(100% * 0.083333333333333);
            flex-basis: calc(100% * 0.083333333333333);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(2) figure {
  -webkit-flex-basis: calc(100% * 0.090909090909091 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.090909090909091 - 30px);
          flex-basis: calc(100% * 0.090909090909091 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(2) figure {
    -webkit-flex-basis: calc(100% * 0.090909090909091);
        -ms-flex-preferred-size: calc(100% * 0.090909090909091);
            flex-basis: calc(100% * 0.090909090909091);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(3) figure {
  -webkit-flex-basis: calc(100% * 0.1 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.1 - 30px);
          flex-basis: calc(100% * 0.1 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(3) figure {
    -webkit-flex-basis: calc(100% * 0.1);
        -ms-flex-preferred-size: calc(100% * 0.1);
            flex-basis: calc(100% * 0.1);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(4) figure {
  -webkit-flex-basis: calc(100% * 0.111111111111111 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.111111111111111 - 30px);
          flex-basis: calc(100% * 0.111111111111111 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(4) figure {
    -webkit-flex-basis: calc(100% * 0.111111111111111);
        -ms-flex-preferred-size: calc(100% * 0.111111111111111);
            flex-basis: calc(100% * 0.111111111111111);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(5) figure {
  -webkit-flex-basis: calc(100% * 0.125 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.125 - 30px);
          flex-basis: calc(100% * 0.125 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(5) figure {
    -webkit-flex-basis: calc(100% * 0.125);
        -ms-flex-preferred-size: calc(100% * 0.125);
            flex-basis: calc(100% * 0.125);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(6) figure {
  -webkit-flex-basis: calc(100% * 0.142857142857143 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.142857142857143 - 30px);
          flex-basis: calc(100% * 0.142857142857143 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(6) figure {
    -webkit-flex-basis: calc(100% * 0.142857142857143);
        -ms-flex-preferred-size: calc(100% * 0.142857142857143);
            flex-basis: calc(100% * 0.142857142857143);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(7) figure {
  -webkit-flex-basis: calc(100% * 0.166666666666667 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.166666666666667 - 30px);
          flex-basis: calc(100% * 0.166666666666667 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(7) figure {
    -webkit-flex-basis: calc(100% * 0.166666666666667);
        -ms-flex-preferred-size: calc(100% * 0.166666666666667);
            flex-basis: calc(100% * 0.166666666666667);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(8) figure {
  -webkit-flex-basis: calc(100% * 0.2 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.2 - 30px);
          flex-basis: calc(100% * 0.2 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(8) figure {
    -webkit-flex-basis: calc(100% * 0.2);
        -ms-flex-preferred-size: calc(100% * 0.2);
            flex-basis: calc(100% * 0.2);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(9) figure {
  -webkit-flex-basis: calc(100% * 0.25 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.25 - 30px);
          flex-basis: calc(100% * 0.25 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(9) figure {
    -webkit-flex-basis: calc(100% * 0.25);
        -ms-flex-preferred-size: calc(100% * 0.25);
            flex-basis: calc(100% * 0.25);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(10) figure {
  -webkit-flex-basis: calc(100% * 0.333333333333333 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 30px);
          flex-basis: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(10) figure {
    -webkit-flex-basis: calc(100% * 0.333333333333333);
        -ms-flex-preferred-size: calc(100% * 0.333333333333333);
            flex-basis: calc(100% * 0.333333333333333);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(11) figure {
  -webkit-flex-basis: calc(100% * 0.5 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.5 - 30px);
          flex-basis: calc(100% * 0.5 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(11) figure {
    -webkit-flex-basis: calc(100% * 0.5);
        -ms-flex-preferred-size: calc(100% * 0.5);
            flex-basis: calc(100% * 0.5);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid div:nth-of-type(12) figure {
  -webkit-flex-basis: calc(100% * 1 - 30px);
      -ms-flex-preferred-size: calc(100% * 1 - 30px);
          flex-basis: calc(100% * 1 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  .grid div:nth-of-type(12) figure {
    -webkit-flex-basis: calc(100% * 1);
        -ms-flex-preferred-size: calc(100% * 1);
            flex-basis: calc(100% * 1);
    margin-left: 0;
    margin-right: 0;
  }
}
.grid figure {
  background: #fa8072;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .grid figure {
    border-radius: 0;
    font-weight: 100;
    border-right: 1px solid #f97060;
  }
  .grid figure:first-child {
    border-radius: 3px 0 0 3px;
  }
  .grid figure:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 0;
  }
}
.masonry {
  margin-bottom: 30px;
}
.masonry div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  overflow-y: inherit;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 980px;
  margin: auto;
}
.masonry figure {
  -webkit-flex-basis: calc(100% * 0.333333333333333 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 30px);
          flex-basis: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 30px;
  padding: 10px;
  background: #00ff7f;
  border-radius: 3px;
}
.masonry img {
  width: 100%;
}
