@import 'reset.css';
html,
body {
  height: 100%;
}
html {
  padding: 30px;
}
section {
  overflow-x: hidden;
}
section > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}
section > * > * {
  -webkit-flex-basis: calc(100% * 0.333333333333333 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 30px);
          flex-basis: calc(100% * 0.333333333333333 - 30px);
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section > * > * {
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(2),
section:nth-of-type(3) {
  overflow-x: hidden;
}
section:nth-of-type(2) > *,
section:nth-of-type(3) > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}
section:nth-of-type(2) > * > *,
section:nth-of-type(3) > * > * {
  -webkit-flex-basis: calc(100% * 0.333333333333333 - 30px);
      -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 30px);
          flex-basis: calc(100% * 0.333333333333333 - 30px);
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
}
section:nth-of-type(2) > * > *,
section:nth-of-type(3) > * > * {
  margin-left: 15px;
  margin-right: 15px;
}
section > * > img {
  background: #ff6347;
  margin-bottom: 30px;
  padding: 15px;
}
figure {
  background: #ff6347;
  margin-bottom: 30px;
  padding: 15px;
}
figure img {
  width: 100%;
}
