// flexgrid 3.1.2 - https://github.com/corysimmons/flexgrid


$gutter = 30px


box($ratio = 1, $dir = row, $flex = false, $scroll = false, $gut = $gutter)
  if $dir is row
    overflow-x: hidden
    if $scroll
      overflow-y: scroll
  else
    overflow-y: hidden
    if $scroll
      overflow-x: scroll
  > *
    display: flex
    flex-wrap: wrap
    flex-direction: $dir
    > *
      if $gut is 0
        flex-basis: s('calc(100% * %s)', $ratio)
      else
        flex-basis: s('calc(100% * %s - %s)', $ratio, $gut)
      if $flex is true
        flex-grow: 1
        flex-basis: auto
    if $dir is row
      height: 100%
      if $gut is not 0
        margin-left: -($gut / 2)
        margin-right: -($gut / 2)
      > *
        margin-left: ($gut / 2)
        margin-right: ($gut / 2)
    else
      if $gut is 0
        height: 100%
      else
        height: s('calc(100% + %s)', $gut)
      if $gut is not 0
        margin-top: -($gut / 2)
        margin-bottom: -($gut / 2)
      > *
        margin-top: ($gut / 2)
        margin-bottom: ($gut / 2)


offset($ratio = 1, $gut = $gutter)
  if $gut > 0
    if $ratio > 0
      margin-right: s('calc(100% * %s + (%s / 2))', $ratio, $gut)
    else
      margin-left: s('calc(-100% * %s + (%s / 2))', $ratio, $gut)
  else
    if $ratio > 0
      margin-right: s('calc(100% * %s)', $ratio)
    else
      margin-left: s('calc(100% * %s)', $ratio)


html, body
  height: 100%
