// flexgrid 3.1.5 - https://github.com/corysimmons/flexgrid


$gutter: 30px !default;


@mixin box($ratio: 1, $dir: row, $flex: false, $scroll: false, $gut: $gutter) {
  @if ($dir == row) {
    overflow-x: hidden;
    @if ($scroll) {
      overflow-y: scroll;
    }
  } @else {
    overflow-y: hidden;
    @if ($scroll) {
      overflow-x: scroll;
    }
  }
  > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $dir;
    > * {
      @if ($gut == 0) {
        flex-basis: calc(100% * #{$ratio});
      } @else {
        flex-basis: calc(100% * #{$ratio} - #{$gut});
      }
      @if ($flex == true) {
        flex-grow: 1;
      }
      @if ($flex == masonry) {
        flex-grow: 1;
        flex-basis: auto;
      }
    }
    @if ($dir == row) {
      height: 100%;
      @if ($gut != 0) {
        margin-left: -($gut / 2);
        margin-right: -($gut / 2);
      }
      > * {
        margin-left: ($gut / 2);
        margin-right: ($gut / 2);
      }
    } @else {
      @if ($gut == 0) {
        height: 100%
      } @else {
        height: calc(100% + #{$gut});
      }
      @if ($gut != 0) {
        margin-top: -($gut / 2);
        margin-bottom: -($gut / 2);
      }
      > * {
        margin-top: ($gut / 2);
        margin-bottom: ($gut / 2);
      }
    }
  }
}


@mixin offset($ratio: 1, $gut: $gutter) {
  @if ($gut > 0) {
    @if ($ratio > 0) {
      margin-right: calc(100% * #{$ratio} + (#{$gut} / 2));
    } @else {
      margin-left: calc(-100% * #{$ratio} + (#{$gut} / 2));
    }
  } @else {
    @if ($ratio > 0) {
      margin-right: calc(100% * #{$ratio});
    } @else {
      margin-left: calc(100% * #{$ratio});
    }
  }
}


html, body {
  height: 100%;
}
