// v1.0.0

gutter = 20px

row(gut = gutter)
  display: flex
  flex-wrap: wrap
  margin-left: -(gut / 2)
  margin-right: -(gut / 2)

block(ratio = 1, gut = gutter)
  flex-grow: 1
  margin: (gut / 2)
  min-width: s('calc(100% * %s - %s)', ratio, gut)
  max-width: s('calc(100% * %s - %s)', ratio, gut)

offset(ratio = false, gut = gutter)
  if gut > 0
    if ratio > 0
      margin-right: s('calc(100% * %s + (%s / 2))', ratio, gut)
    if ratio < 0
      margin-left: s('calc(-100% * %s + (%s / 2))', ratio, gut)
  if gut is 0
    if ratio > 0
      margin-right: s('calc(100% * %s)', ratio)
    if ratio < 0
      margin-left: s('calc(-100% * %s)', ratio)
